body, html
{
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: 'Open sans'; */
  position: relative; /* Ensures that the body won't have horizontal scroll */
  overflow-x: hidden; /* -- */
}

/* navbar start*/
.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: fixed;
  top:0;
  z-index: 500;
  font-family: 'Lora';
}
.navContainer{
  max-width: 900px;
  min-width: 200px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/*navbar end https://codepen.io/jo_Geek/pen/xgbaEr */


.mainContainer
{
  display: grid;
  grid-template-columns: 1fr minmax(500px, 900px) 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "hd hd hd"
  ". main ."
  "ft ft ft";
  background-color: #40434A;
}

.mainContent
{
  display: grid;
  grid-area: main;
  grid-template-columns: 350px 350px;
  grid-gap: 1em;
  grid-template-areas:
  "left1 right1"
  "left2 right2"
  "left3 right3"
  "left4 right4";
}

.headerFlag
{
  display: flex;
  background-image: url(img/websiteHeader.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  grid-area:hd;
}

.headerFlag:before
{
  content:"";
  background: #506075;
  width: 100%;
  opacity: 0.8;
}

.headingFlag
{
  position: absolute;
  top:35%;
  left:0;
  right:0;
  font-size: 60px;
}
.headingFlag h1
{
  text-align: center;
  font-family: 'Playfair Display';
}
